
body
{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #333;
  color: #cdcdcd;
  font-family: "Poppins", "Avenir", sans-serif;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #333;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
  /* For dropdown in Items */
  .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    left: 3rem;
    
}

.dropdown-content a {
    color: whitesmoke;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    left: 2rem;
    
}

.dropdown-content a:hover {
    background-color: #8365655d;
}

.dropdown:hover .dropdown-content {
    display: inline-block;

}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #333;
}

  
  #main-content {
   width: 27rem;
   margin-left: 35rem;
  }

  #main-content h1{
    border: .2rem solid #333;
    font-size: 2.5rem;
    background-color: #555;
    color: whitesmoke;
  }
  #main-content h1 span{
    color: #632580;
  }
  #footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
  }

  #menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 1rem;
  }

  #menu a:hover {
    color: #632580;
  }
  .home-sci{
    bottom: 0rem;
    width: 170px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 43rem;
    
  }


  /* hover */
  .home-sci a{
    padding-left: 0rem;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    border-spacing: 1rem;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: .2rem solid rgb(68, 6, 83);
    border-radius: 50%;
    font-size: 20px;
    color:white;
    z-index: 1;
    transition: 0.3s;
  }
  .home-sci a:hover{
    color: rgb(64, 52, 75);
  }
  .home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    border-radius: 50%;
    width: 0;
    height: 100%;
    background: #cba3f5;
    z-index: -1;
    transition: .4s;
  }
  .home-sci a:hover::before{
    width: 100%;
  }





.form{
    height: 25rem;
    width: 25rem;
}
.form-field {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 10px;
    padding: 0.6em;
    border: .2rem solid rgb(48, 44, 44);
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }

  .form p{
    color: whitesmoke;
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #ccd6f6;
    padding-inline: 1em;
  }
  
  .sendMessage-btn {
    cursor: pointer;
    margin-top: 5rem;
    padding: 1em;
    margin-left: 125px;
    margin-bottom: .3rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #928e94;
    font-weight: bold;
    outline: 1px solid #171818;
    transition: all ease-in-out 0.3s;
  }
  
  .sendMessage-btn:hover {
    transition: all ease-in-out 0.3s;
    background-color: #632580;
    color: #000;
    cursor: pointer;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .form-card1 {
    background-image: linear-gradient(163deg, #262527 0%, #333 100%);
    border-radius: 22px;
    transition: all 0.3s;
    padding: 1rem;

  }
  
  .form-card1:hover {
    box-shadow: 0px 0px 30px 1px black;
  }
  
  .form-card2 {
    border-radius: 0;
    transition: all 0.2s;
  }
  
  .form-card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }

 