body
{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #333;
  color: #cdcdcd;
  font-family: "Poppins", sans-serif;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: whitesmoke;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #632580;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #333;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
  /* For dropdown in Items */
  .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    left: 3rem;
    
}

.dropdown-content a {
    color: whitesmoke;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    left: 2rem;
    
}

.dropdown-content a:hover {
    background-color: #8365655d;
}

.dropdown:hover .dropdown-content {
    display: inline-block;

}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #333;
}


.container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  size: 80px;
}
h2 {
  text-align: center;
  color:#333
}
label {
  font-weight: bold;
}
.custum-file-upload {
  height: 150px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  margin-left: 5.8rem;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
  margin-bottom: 15px;
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: #333;
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}
input[type="text"],
input[type="date"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}
input[type="submit"] {
  width: 100%;
  background-color: #632e74;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
input[type="submit"]:hover {
  background-color: #31173a;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}
/* .home-sci{
  bottom: 0rem;
  width: 170px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-left: 43rem;
  
} */


/* hover */
/* .home-sci a{
  padding-left: 0rem;
  text-decoration: none;
  position: relative;
  display: inline-flex;
  justify-content: center;
  border-spacing: 1rem;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: .2rem solid rgb(68, 6, 83);
  border-radius: 50%;
  font-size: 20px;
  color:white;
  z-index: 1;
  transition: 0.3s;
}
.home-sci a:hover{
  color: rgb(64, 52, 75);
}
.home-sci a::before{
  content: '';
  position: absolute;
  top: 0;
  left:0;
  border-radius: 50%;
  width: 0;
  height: 100%;
  background: #cba3f5;
  z-index: -1;
  transition: .4s;
}
.home-sci a:hover::before{
  width: 100%;
} */